venv/
.vscode/
out/
loop/
tests/
__pycache__/
.env
live_streams.json
prev_hash_live.md5
prev_hash_upcoming.md5
upcoming.json
test.py
run.bat
run-manual.bat
clear-hash-win.bat
num_loop.txt
run-forever.bat
test2.py
test.html
time-run.txt
cookies.txt
autorun.py
titles.db